
body{
    background-color: rgb(255, 255, 255);
}

.slider {
  width: 100%;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slides img {
  width: 100%;
  scroll-snap-align: start;
  width: 100%;
  max-width: 250px;
  max-height: 400px;
  object-fit: cover;
  scroll-snap-align: start;
  flex-shrink: 0;
}